body {
	font-family: danaweb  !important;
	direction: rtl;
	margin: 0;
	overflow-x: hidden !important;
	width: 100% !important;
	font-size: 14.5px;
    padding: 0;
	color: $textColorDark !important;
}
*{
	box-sizing: border-box;
	direction: rtl;
	// overflow-x: hidden !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: danaweb !important;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 23px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}
.lowMargined{
	margin: 7px 0;
}
.mediumMargined{
	margin: 15px 0;
}
.highMargined{
	margin: 30px 0;
}
.extraHighMargined{
	margin: 60px 0;
}
.lowPadding{
	padding: 7px;
}
.mediumPadding{
	padding: 15px;
}
.highPadding{
	padding: 30px;
}
.sectionPadding{
	padding: 50px 0;
}
.centeredText{
	text-align: center;
}
.noPadding{
	padding: 0;
}
.noMargin{
	margin: 0;
}

.bigHeading{
	h1,h2,h3,h4,h5,h6{
		font-size: 35px;
	}
	span{
		font-size: 18px;
	}
}
.mediumWeight{
	font-weight: 500;
}
p{
	line-height: 27px;
	color: $textColorLowSat;
	margin-top: 0;
	margin-bottom: 20px;
}
.justified{
	text-align: justify;
}
.lightParagraph{
	font-weight: 300;
}
.lighterText{
	color: $textColorLight;
}
.lighterText{
	color: $textColorLighter;
}
.smallText{
	font-size: 13px;
}
.smallerText{
	font-size: 12px;
}
.bottomBorder{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.lowRadius{
	border-radius: 10px;
}
.highRadius{
	border-radius: 25px;
}
.darkBorder{
	border: 1px solid $lowSatColor;
}
.lightBorder{
	border: 1px solid $backColorDark;
}
button{
    font-family: danaweb !important;
	cursor: pointer;
}
img{
	max-width: 100%;
	height: auto;
}
table{
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	border: 1px solid $backColorDark;
	th{
		text-align: right;
		border: 1px solid rgba(13, 84, 131,0.1);
		padding: 12px;
	}
	tr{
		&:nth-child(2n+1) {
			background-color: rgba(226, 229, 252,0.3);
		}
	}
	
	td {
		font-size: 13.5px;
		padding: 8px 4px;
		font-weight: 400;
		border: 1px solid rgba(13, 84, 131,0.1);
		padding: 15px 10px;
		strong {
			font-weight: 600;
		}
	}
}
.mainView{
	max-width: 1280px;
	margin-left: auto !important;
	margin-right: auto !important;
	@include mvb{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}
a,a:visited{
	text-decoration: none;
	color: $textColorDark;
}
li{
	list-style-type: none;
	margin: 7px 0;
	position: relative;
	padding-right: 12px;
	&::before{
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background-color: $textColorDark;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		right: 0;
	}
}
.darkListStyle{
	&::before{
		background-color: $textColorLighter;
	}
}
.noListStyle{
	padding-right: 0;
	&::before{
		display: none;
	}
}
.checkListStyle{
	padding-right: 25px;
	margin: 15px 0;
	&::before{
		content: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='%23e3b077' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
		width: 17px;
		height: 17px;
		background-color: initial;
	}
}
.crossListStyle{
	padding-right: 20px;
	&::before{
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
		width: 12px;
		height: 17px;
		background-color: initial;
	}
}
// .arrowListStyle{
// 	padding-right: 22px;
// 	&::before{
// 		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232c62d6' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath d='M256 493.4a237.3 237.3 0 1 1 167.9-69.5A236.2 236.2 0 0 1 256 493.4Zm0-424.8C152.7 68.6 68.6 152.7 68.6 256S152.7 443.4 256 443.4 443.4 359.3 443.4 256 359.3 68.6 256 68.6Zm-23.6 283.2a24.9 24.9 0 0 1-17.7-7.3l-70.8-70.8h-.1a.1.1 0 0 0-.1-.1h-.2a23.2 23.2 0 0 1-4.9-7.5h-.1a24.7 24.7 0 0 1-1.9-9.4 24.8 24.8 0 0 1 2-9.5h.1a21.3 21.3 0 0 1 2.3-4.2 19.5 19.5 0 0 1 1.7-2.3h.1a8 8 0 0 1 1.3-1.3l70.6-70.7a25 25 0 0 1 35.4 35.4L222 231h128.4a25 25 0 0 1 0 50H222l28.1 28.1a25.2 25.2 0 0 1 0 35.4 24.9 24.9 0 0 1-17.7 7.3Z'/%3E%3C/svg%3E");
// 		width: 16px;
// 		height: 19px;
// 		background-color: initial;
// 	}
// }

label{
	display: block;
	margin-bottom: 15px;
	font-size: 13px;
	text-align: right;
	width: 100%;
	padding-right: 15px;
}
input{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	&[type=text] , &[type=password] , &[type=email] , &[type=tel] , &[type=url]{
		border: none;
		background-color: $backColorLight;
		border-radius: 45px;
		color: $textColorDark;
		font-size: 14px;
		margin-right: -15px;
		@include placeholder{
			color: #373c60;
			opacity: 0.25;
		}
	}
	&[type=checkbox]{
		width: max-content;
		margin: 0;
	}
	&[type=submit]{
		background-color: $textColorDark;
		color: #fff;
		border: none;
		font-weight: 500;
		padding: 15px 25px;
		cursor: pointer;
		transition: all 0.3s;
		border-radius: 45px;
		font-size: 14px;
		&:hover{
			background-color: #000;
		}
	}
	&:focus{
		outline: none;
	}
}
textarea{
	margin-top: 5px;
	display: block;
	width: 100%;
	height: 150px;
	padding: 10px 20px;
	resize: none;
	border-radius: 15px;
	background-color: $backColorLight;
	border: none;
	color: $textColorDark;
	font-size: 14px;
	margin-right: -15px;
	@include placeholder{
		color: #373c60;
		opacity: 0.25;
	}
	&:focus{
		outline: none;
	}
}
select{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 15px 10px;
	border: 1px solid #e2e5fc;
	font-family: danaweb;
	background-color: transparent;
	option{
		font-family: iranyekanfn;
	}
}
.generalButton{
    background-color: $offColor;
	border-radius: 50px;
    position: relative;
    color: #fff;
    padding: 10px 35px;
    font-size: 15px;
    font-weight: 400;
    display: block;
    width: max-content;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
	&:hover{
		transform: translateY(-3px);
	}
}
.generalButtonDark{
	background-color: $mainColorDark;
}
.arrowButton{
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
	background-color: transparent;
	color: #e3b077;
    &::after{
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3b077' width='15' height='15' viewBox='5 5 87 87' xml:space='preserve' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cpath d='m82.8 48.8-24.9 25c-.8.8-1.8 1.2-2.8 1.2-1 0-2-.4-2.8-1.2-1.6-1.6-1.6-4.1 0-5.7L70.4 50H12c-2.2 0-4-1.8-4-4s1.8-4 4-4h58.4L52.2 23.8c-1.6-1.6-1.6-4.1 0-5.7 1.6-1.6 4.1-1.6 5.7 0l24.9 25c1.6 1.6 1.6 4.2 0 5.7z'%3E%3C/path%3E%3C/svg%3E");
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
		transition: all 0.3s;
    }
	&:hover{
		background-color: transparent;
		&::after{
			transform: translateX(-3px);
		}
	}
}
// .outlineButton{
// 	background-color: transparent;
// 	color: $mainColorDark !important;
// 	border: 1px solid $mainColorDark;
// 	&::before{
// 		background-color: $mainColorDark;
// 	}
// 	&:hover{
// 		background-color: transparent;
// 	}

// }
.siteMessage{
	position: relative;
	background-color: #FFF3CD;
	display: block;
	width: 100%;
	padding: 15px 45px 15px 15px;
	margin: 15px 0;
	border-radius: 7px;
	&::before{
		position: absolute;
		width: 20px;
		height: 20px;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.warningMessage{
	background-color: #FFF3CD;
	border: 1px solid rgba(81, 64, 11 , 0.15);
	color: #51400B;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
	}
}
.successMessage{
	background-color: #D1E7DD;
	border: 1px solid rgba(17, 70, 46 , 0.15);
	color: #11462e;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
	}
}
.errorMessage{
	background-color: #F8D7DA;
	border: 1px solid rgba(93, 20, 26 , 0.15);
	color: #5d141a;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
	}
}
.informMessage{
	background-color: #CFF4FC;
	border: 1px solid rgba(14, 65, 76 , 0.15);
	color: #0e414c;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
	}
}
.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	width: 50%;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	width: 50%;
}

.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.5em;
}
.hashtagParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hashtagItem{
	background-color: lighten($backColorDark , 60%);
	border: 1px solid lighten($backColorDark , 45%);
	color: $backColorDark;
	width: max-content;
	padding: 3px 20px 3px 10px;
	position: relative;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-left: 10px;
	cursor: pointer;
	&::before{
		content: '#';
		position: absolute;
		right: 5px;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		color: $backColorDark;
		height: max-content;
	}
}
select{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border: none;
	font-family: danaweb;
	background-color: #f4f5fc;
	border-radius: 45px;
	color: red;
	font-size: 14px;
	margin-right: -15px;
}