@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Hairline.woff2'); font-weight: 50;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Thin.woff2'); font-weight: 100;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-UltraLight.woff2'); font-weight: 200;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Light.woff2'); font-weight: 300;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Regular.woff2'); font-weight: 400;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Medium.woff2'); font-weight: 500;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-DemiBold.woff2'); font-weight: 600;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Bold.woff2'); font-weight: 700;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-ExtraBold.woff2'); font-weight: 800;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Black.woff2'); font-weight: 900;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-ExtraBlack.woff2'); font-weight: 910;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-Heavy.woff2'); font-weight: 950;}
@font-face { font-family: 'danaweb';src: url('fonts/danafn/DanaFaNum-fat.woff2'); font-weight: 990;}


//Text Colors
$textColorDark: #2e2e2e;
$textColorLowSat: #444444;
$textColorLight: #676767;
$textColorLighter: #7b798c;

//Main Colors
$lowSatColor: #f4f5f9;
$mainColorDark: #18162b;
$offColor: #e3b077;
//Gradient Colors
$backColorDark: #e2e5fc;
$backColorLight: #f4f5fc;



@mixin mainColor{
	background: rgb(221,205,118);
	background: linear-gradient(84deg, rgba(221,205,118,1) 5%, rgba(253,245,158,1) 51%, rgba(195,157,68,1) 100%);
}
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}