@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Hairline.woff2");
  font-weight: 50;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Heavy.woff2");
  font-weight: 950;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-fat.woff2");
  font-weight: 990;
}
body {
  font-family: danaweb !important;
  direction: rtl;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 14.5px;
  padding: 0;
  color: #2e2e2e !important;
}

* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: danaweb !important;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}
.bigHeading span {
  font-size: 18px;
}

.mediumWeight {
  font-weight: 500;
}

p {
  line-height: 27px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 20px;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 300;
}

.lighterText {
  color: #676767;
}

.lighterText {
  color: #A3A2AF;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.lowRadius {
  border-radius: 10px;
}

.highRadius {
  border-radius: 25px;
}

.darkBorder {
  border: 1px solid #f4f5f9;
}

.lightBorder {
  border: 1px solid #e2e5fc;
}

button {
  font-family: danaweb !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #e2e5fc;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 13.5px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

.mainView {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

a, a:visited {
  text-decoration: none;
  color: #2e2e2e;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #2e2e2e;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.darkListStyle::before {
  background-color: #A3A2AF;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 25px;
  margin: 15px 0;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='%23e3b077' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
  width: 17px;
  height: 17px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: #f4f5fc;
  border-radius: 45px;
  color: #2e2e2e;
  font-size: 14px;
  margin-right: -15px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 45px;
  font-size: 14px;
}
input[type=submit]:hover {
  background-color: #000;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 15px;
  background-color: #f4f5fc;
  border: none;
  color: #2e2e2e;
  font-size: 14px;
  margin-right: -15px;
}
textarea::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #e2e5fc;
  font-family: danaweb;
  background-color: transparent;
}
select option {
  font-family: iranyekanfn;
}

.generalButton {
  background-color: #e3b077;
  border-radius: 50px;
  position: relative;
  color: #fff;
  padding: 10px 35px;
  font-size: 15px;
  font-weight: 400;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.generalButton:hover {
  transform: translateY(-3px);
}

.generalButtonDark {
  background-color: #18162b;
  color: white !important;
}

.arrowButton {
  margin-left: 20px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #e3b077;
}
.arrowButton::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3b077' width='15' height='15' viewBox='5 5 87 87' xml:space='preserve' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(-1,1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cpath d='m82.8 48.8-24.9 25c-.8.8-1.8 1.2-2.8 1.2-1 0-2-.4-2.8-1.2-1.6-1.6-1.6-4.1 0-5.7L70.4 50H12c-2.2 0-4-1.8-4-4s1.8-4 4-4h58.4L52.2 23.8c-1.6-1.6-1.6-4.1 0-5.7 1.6-1.6 4.1-1.6 5.7 0l24.9 25c1.6 1.6 1.6 4.2 0 5.7z'%3E%3C/path%3E%3C/svg%3E");
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.3s;
}
.arrowButton:hover {
  background-color: transparent;
}
.arrowButton:hover::after {
  transform: translateX(-3px);
}

.siteMessage {
  position: relative;
  background-color: #FFF3CD;
  display: block;
  width: 100%;
  padding: 15px 45px 15px 15px;
  margin: 15px 0;
  border-radius: 7px;
}
.siteMessage::before {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.warningMessage {
  background-color: #FFF3CD;
  border: 1px solid rgba(81, 64, 11, 0.15);
  color: #51400B;
}
.warningMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
}

.successMessage {
  background-color: #D1E7DD;
  border: 1px solid rgba(17, 70, 46, 0.15);
  color: #11462e;
}
.successMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
}

.errorMessage {
  background-color: #F8D7DA;
  border: 1px solid rgba(93, 20, 26, 0.15);
  color: #5d141a;
}
.errorMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
}

.informMessage {
  background-color: #CFF4FC;
  border: 1px solid rgba(14, 65, 76, 0.15);
  color: #0e414c;
}
.informMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  width: 50%;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  width: 50%;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

.hashtagParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hashtagItem {
  background-color: white;
  border: 1px solid white;
  color: #e2e5fc;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 20px 3px 10px;
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.hashtagItem::before {
  content: "#";
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  color: #e2e5fc;
  height: -moz-max-content;
  height: max-content;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-family: danaweb;
  background-color: #f4f5fc;
  border-radius: 45px;
  color: red;
  font-size: 14px;
  margin-right: -15px;
}

.servicesPageBack .servicesDetailsSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servicesPageBack .servicesDetailsSec .imageBox {
  width: 35%;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesDetailsSec .imageBox {
    width: 100%;
    order: 2;
  }
}
.servicesPageBack .servicesDetailsSec .detailBox {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesDetailsSec .detailBox {
    width: 100%;
    order: 1;
  }
}
.servicesPageBack .counterNumbers {
  background-color: #484749;
  padding: 30px 0px;
}
.servicesPageBack .counterNumbers .counterNumbersInner {
  display: flex;
  justify-content: space-around;
}
.servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent {
  width: 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent {
    width: 30% !important;
  }
}
.servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent:hover .counterItem {
  transform: scale(0.9);
  background-color: #676767;
  color: #ddcd76;
}
.servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent .counterItem {
  background-color: #ddcd76;
  border-radius: 100%;
  transition: 0.3s;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent .counterItem {
    font-size: 22px;
    height: 80px;
    width: 80px;
  }
}
.servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent .counterTitle {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .servicesPageBack .counterNumbers .counterNumbersInner .counterItemParent .counterTitle {
    font-size: 16.5px;
  }
}
.servicesPageBack .servicesEntryContent p {
  text-align: justify;
}
.servicesPageBack .servicesEntryContent img {
  display: block;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle {
    width: auto;
  }
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .topHeading {
  color: #e3b077;
  font-size: 14.5px;
  display: block;
  font-weight: 400;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle h2 {
  margin: 0;
  font-size: 20px;
  line-height: 50px;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount {
    width: auto;
    font-size: 12px;
  }
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .commentsCount, .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .viewPageCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 13px;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .commentsCount .commentsCountText, .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .commentsCount .viewCountText, .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .viewPageCount .commentsCountText, .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentTitle .servicesEntryContentHeaderCount .viewPageCount .viewCountText {
  margin: 0px 5px;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentHeaderInnerBtn {
  width: 20%;
  margin-right: auto;
}
.servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentHeaderInnerBtn a {
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesEntryContent .servicesEntryContentHeader .servicesEntryContentHeaderInnerBtn {
    width: auto;
  }
}
.servicesPageBack .servicesFormSection .servicesFormSectionInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  padding: 30px;
}
.servicesPageBack .servicesFormSection .servicesFormSectionInner::after {
  position: absolute;
  content: "";
  background-image: url(img/pattern.jpeg);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 999;
}
.servicesPageBack .servicesFormSection .servicesFormSectionInner .formSection {
  width: 40%;
  z-index: 9991;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesFormSection .servicesFormSectionInner .formSection {
    width: 100%;
  }
}
.servicesPageBack .servicesFormSection .servicesFormSectionInner .imgSection {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .servicesPageBack .servicesFormSection .servicesFormSectionInner .imgSection {
    width: 100%;
  }
}
.servicesPageBack img {
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .servicesPageBack img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.servicesPageBack .entryContentTitle {
  font-size: 26px;
  margin: 0;
}
.servicesPageBack .commentInner {
  width: 100%;
}
.servicesPageBack .commentInner .comment-list {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}
.servicesPageBack .commentInner .comment-respond input {
  margin-right: 0 !important;
}
.servicesPageBack .commentInner .comment-respond .comment-form-url {
  display: none;
}

.mainFooterBack .calssFooterColumn li a {
  color: #fff;
}
.mainFooterBack .copyRightFooterBack p {
  color: #A3A2AF;
  text-align: center;
}
.mainFooterBack .copyRightFooterBack p a {
  color: #e3b077;
}
.mainFooterBack .copyRightFooterBack .copyRightFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e3b077;
  padding: 15px 0px;
  margin-top: 15px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .mainFooterBack .copyRightFooterBack .copyRightFooter {
    justify-content: space-between;
    font-size: 12px;
    gap: 10px;
  }
  .mainFooterBack .copyRightFooterBack .copyRightFooter .copyRightP1 {
    order: 2;
  }
  .mainFooterBack .copyRightFooterBack .copyRightFooter p {
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  .mainFooterBack .copyRightFooterBack .copyRightFooter {
    justify-content: center !important;
  }
}/*# sourceMappingURL=layout.css.map */